@import url('https://fonts.googleapis.com/css2?family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');



ul {
  background-color: hsl(0, 0%, 100%);
  padding: 5px;
  width: 60vh;
  border-radius: 10px;
  height: 35vh;
  padding-left: 30px;
  overflow-y: scroll;
  overflow-x: hidden;
}
#messagesList::-webkit-scrollbar {
  background-color: none;
  border-bottom: none;
}

#messagesList::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 70%);
  border-radius: 6px;
  width: 5px;
}
li {
  width: fit-content;
  height: fit-content;
  padding-right: 10px;
  border-radius: 5px;
  background-color: hsl(0, 0%, 85%);
  border: 2px solid hsl(0, 0%, 70%);
  text-indent: 5px;
  margin: 5px;
  font-family: 'SN Pro';
  transition: all 0.3s ease;
}
input[type="text"]{
  width: 60vh;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: hsl(0, 0%, 90%);
  border-radius: 20px;
  border: 3px solid hsl(0, 0%, 70%);
  width: 75vh;
  height: 75vh;
}